.navbar {
    background-color: #D9D9D9;
    color: #fff; 
    padding: 10px 20px; 
    font-size: 18px;
    height: 80px;
  }

.navbar-text {
    font-family: 'Inter', sans-serif;
  }
  
.navbar-text-cis {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 80px;
  }

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
  font-family: "Mitr", sans-serif;
}

.navbar-toggle {
    display: none;
}

.ml-auto button {
  color: #ffffff;
  background-image: linear-gradient(to right, #3d83ff, #7e61ff); /* สีน้ำเงินไล่สีม่วง */
  margin-right: 10px;
  width: 150px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-image 0.3s ease;
  font-family: "Mitr", sans-serif;
}

.ml-auto button:hover {
  background-image: linear-gradient(to right, #7e61ff, #3d83ff); /* เมื่อ hover สลับสี */
}

@media only screen and (max-width: 600px) {
    .navbar {
      padding: 5px 10px;
      font-size: 12px;
      height: auto;
    }
    .navbar-nav{
      font-size: 15px;
    }
    .navbar-text {
      font-size: 13px;
    }
  
    .navbar-text-cis {
      font-size: 22px;
      line-height: normal;
    }
    
    .checkboxtoggler {
        width: 3em;
        display: flex;
        flex-direction: column;
        gap: 0.7em;
        cursor: pointer;
      }
      
      .line-1 {
        background: black;
        height: 0.3em;
        border-radius: 10em;
        transition-duration: 500ms;
      }
      
      .line-2 {
        background: black;
        height: 0.3em;
        border-radius: 10em;
        transition-duration: 500ms;
      }
      
      .line-3 {
        background: black;
        height: 0.3em;
        border-radius: 10em;
        transition-duration: 500ms;
      }
      
      #toggleChecker {
        height: 3em;
        width: 100%;
        display: none;
      }
      
      #toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
        -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
        -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
        transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
      }
      
      #toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
        -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
        -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
        transform: rotate(-45deg) translateY(0em) translateX(0.1em);
      }
      
      #toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
        transform: scaleX(0);
        transform-origin: left;
      }      
  }
  