.btn-login {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0;
  margin-top: 0.5rem;
  text-align: center;
}

.dropdown-item {
  color: #212529;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  background-color: #e9ecef;
}

.dropdown-item:hover {
  color: #16181b;
}

.logout-button {
  color: #dc3545;
}

.logout-button:hover {
  background-color: #f8d7da;
}
