.title-error-handleSubmit{
  color: red;
}
.home-container {
  text-align: center;
}

.home-search-bar {
  margin-bottom: 20px;
  display: inline-block;
}

.home-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

.form-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
  position: relative;
  display: inline-block;
  align-items: center;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #777;
}

.search-icon-remove {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: 40px;
  color: #777;
}

.search-input {
  width: 70vw;
  max-width: 500px;
  padding: 10px;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 40px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
  border-radius: 5px;
}

.search-input::placeholder {
  color: #777777;
}

.search-input[type="text"] {
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #007bff, #4e73df);
  border-image-slice: 1;
  border-radius: 5px;
}

.course-cards-container {
  text-align: center;
  margin: 8px auto; 
  max-width: 800px; 
}

.Btn-filter {
  margin: 4px;
  height: 54px;
  padding: 0 10px;
  font-size: 16px;
  border: none; 
  border-radius: 5px; 
  background-image: linear-gradient(to right, #007bff, #4e73df);
  color: white; 
  cursor: pointer; 
  transition: background-image 0.3s ease;
}

.Btn-filter:hover {
  background-image: linear-gradient(to right, #4e73df, #007bff); 
}

.Btn-filter::after {
  margin-left: 5px; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button,
.dropdown-content .dropdown-item {
  width: 150px;
  height: 54px; 
}

.dropdown-button {
  margin: 4px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #007bff, #4e73df);
  color: white;
  cursor: pointer;
  transition: background-image 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  z-index: 1;
}

.dropdown-content .dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.dropdown-content .dropdown-item:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-button::after {
  content: "\25BE";
  margin-left: 5px;
}

.filter-icon {
  margin-right: 5px;
  color: white;
  font-size: 16px;
  width: 30px;
}

@media screen and (max-width: 768px) {
  .home-search-bar {
    margin-bottom: 70px;
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #777;
  }

  .search-icon-remove {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    right: 40px;
    color: #777;
  }

  .search-input {
    width: calc(330px - 10px);
    max-width: 500px;
    padding: 10px;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 40px;
    font-size: 16px;
  }

  .Btn-filter {
    margin-top: 40px;
    margin-bottom: 500px; 
  }

  .search-container {
    position: relative; 
  }

  .dropdown-button {
    position: absolute;
    bottom: -75px; 
    left: calc(50% + 100px); 
    transform: translateX(-145%);
    margin-top: 10px;
    margin-bottom: 10px; 
  }
  .Btn-filter {
    position: absolute;
    bottom: -75px; 
    right: 17%; 
    transform: translateX(0); 
    margin-bottom: 10px; 
  }

}

