.title-error-handleSubmit{
  color: red;
}
.home-container {
  text-align: center; /* กำหนดให้เนื้อหาอยู่ตรงกลาง */
}

.home-search-bar {
  margin-bottom: 20px;
  display: inline-block; /* เพื่อให้ Navbar และ Search bar อยู่ในบรรทัดเดียวกัน */
}

.home-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

.form-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
  position: relative;
  display: inline-block;
  align-items: center;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #777;
}

.search-input {
  width: 70vw; /* เปลี่ยนเป็นหน่วย vw */
  max-width: 500px;
  padding: 10px;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 40px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
  border-radius: 5px;
}

.search-input::placeholder {
  color: #777777;
}

.search-input[type="text"] {
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #007bff, #4e73df);
  border-image-slice: 1;
  border-radius: 5px;
}

.course-cards-container {
  text-align: center;
  margin: 8px auto; /* กำหนดให้มีช่องว่าง 8px ด้านบนและด้านล่าง และ Auto ที่ด้านซ้ายและด้านขวาเพื่อให้ตรงกลาง */
  max-width: 800px; /* กำหนดความยาวสูงสุดเป็น 800px */
}

.Btn-filter {
  margin: 4px;
  height: 54px;
  padding: 0 10px;
  font-size: 16px;
  border: none; 
  border-radius: 5px; 
  background-image: linear-gradient(to right, #007bff, #4e73df);
  color: white; 
  cursor: pointer; 
  transition: background-image 0.3s ease;
}

.Btn-filter:hover {
  background-image: linear-gradient(to right, #4e73df, #007bff); 
}

.Btn-filter::after {
  margin-left: 5px; 
}
.Btn-filter-term {
  margin: 4px;
  height: 54px;
  padding: 0 10px;
  font-size: 16px;
  border: none; 
  border-radius: 5px; 
  background-image: linear-gradient(to right, #007bff, #4e73df);
  color: white; 
  cursor: pointer; 
  transition: background-image 0.3s ease;
}

.Btn-filter-term:hover {
  background-image: linear-gradient(to right, #4e73df, #007bff); 
}

.Btn-filter-term::after {
  margin-left: 5px; 
}

.filter-icon {
  /* ระยะห่างของไอคอนเพื่อให้เหมาะสมกับปุ่ม */
  margin-right: 5px;
  /* สีของไอคอน */
  color: white;
  /* ขนาดของไอคอน */
  font-size: 16px;
  width: 30px;
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 90vw; /* ปรับขนาดให้ช่องค้นหายาวกว่าเมื่อหน้าจอเล็กลง */
  }
}