.reviewpage-contrainer {
    font-family: "Mitr", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.reviewpage-contrainer h3 {
    font-size: 30px;

}

.reviewpagecard-link{
    text-decoration: none;
}

.reviewpage-card {
    height: 140px;
    border: 3px solid #9f9f9f;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reviewpage-card h3 {
    font-size: 23px;
    margin-left: 20px;
    color: black;
    margin-top: 20px;
}

.reviewpage-card p {
    font-size: 15px;
    margin-left: 20px;
    color: black;
}
